{% extends 'base.html' %} {% block content %}

<style>
  .sec {
    display: grid;
    grid-template-areas: "acts info";
  }
  .acts {
    padding-left: 55px;
    width: 680px;
  }
  .topic {
    font-size: 30px;
    text-transform: uppercase;
  }
  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .border {
    border-style: solid;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #707070;
    margin: 10px 0px;
  }
  .links {
    display: grid;
    grid-template-areas: "";
  }
</style>

<section class="sec mt-12 ml-6">
  <section class="acts">
    <p class="topic">Acts</p>
    <p class="content">
      The Act listed here are related to Transport(RSTA & DOAT), ICT(DITT) and
      Media(DOIM)
    </p>
    <hr class="line" />
    {% for act in acts %}
    <div class="border">
      <div class="flex flex-wrap overflow-hidden">
        <div class="w-full overflow-hidden sm:w-1/2">
          <a href="#"> {{ act.SI_No }}. {{ act.title }} </a>
        </div>
        <div class="w-full overflow-hidden sm:w-1/2">
          <i class="fa fa-envelope" style="float: right; padding: 0px 2px"></i>
          <i class="fa fa-plus" style="float: right; padding: 0px 2px"></i>
          <i class="fa fa-chain" style="float: right; padding: 0px 2px"></i>
        </div>
      </div>
    </div>
    {% endfor %}
    <hr class="line">
    <div class="navigationcontent">
      <div style="margin:5% 20%;">
        <h5 class="uppercase font-bold mb-2.5 text-gray-800" style="font-size:22px">
          <i class="fa fa-caret-right fa-2x mr-3" style="color:#ff6347"></i> PUBLICATIONS</h5>
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">
          <i class="fa fa-angle-right fa-2x mr-3" style="color:#ff6347"></i> <a href="{% url 'policies' %}">Policies</a></h5>
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">
          <i class="fa fa-angle-right fa-2x mr-3" style="color:#ff6347"></i> <a href="{% url 'rules' %}">Rules and Regulations</a></h5>
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">
          <i class="fa fa-angle-right fa-2x mr-3" style="color:#ff6347"></i> <a href="{% url 'guidelines' %}">Guidelines</a></h5>
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">
          <i class="fa fa-angle-right fa-2x mr-3" style="color:#ff6347"></i> <a href="{% url 'reports' %}">Reports</a></h5>
        <h5 class="uppercase font-bold mb-2.5 text-gray-800">
          <i class="fa fa-angle-right fa-2x mr-3" style="color:#ff6347"></i> <a href="{% url 'statistics' %}">Statistics</a></h5>
      </div>
    </div>
    <hr class="line">
  </section>
  <section class="info">
    <div class="scroll-fixed">
      <div class="sidebar">
        <p style="font-size: 25px">INFORMATION AND DOWNLOADS</p>
        <a href="{% url 'moicofficials' %}">For MoIC Officials</a><br />
        <a href="{% url 'download' %}">Downloads</a><br />
        <a href="{% url 'rstaservices' %}">RSTA Online Services</a><br />
        <a href="{% url 'hrdecisions' %}">HR Decisions</a>
      </div>
      <div class="sidebar">
        <div inline-datepicker data-date="auto"></div>
      </div>
    </div>
  </section>
</section>
{% endblock content %}
