{% extends 'base.html' %} {% block content %} {% load static %}
<title>APA</title>
<style>
  .history {
    width: 800px;
    padding-left: 5px;
    z-index:35;
  }
  @media(max-width : 500px){
  .history{
    width:350px;
    padding-left:0px;
  }
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "history info";
  }
  @media (max-width : 500px){
  .background {
    background-color: transparent;
    padding-left: 0px;
    width: 400px;
    padding-top: 6em;
    display: grid;
    grid-template-areas: "history info";
  }
  }

  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .vision {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    border-color: #707070;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .pd{
  padding-left:12px;
  }
  @media(max-width:500px){
  .pd{
  padding-left:3px;
  }
  }
  .ws {
    width: 150px;
    border-radius: 7px;
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .fb {
    width: 150px;
    border-radius: 7px;
    background-color: #4267b2;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    display: grid;
    grid-template-areas: "ws" "fb";
  }








</style>
<div class="pd">

    <section class="background mt-12 ">
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1">
            <div class="lg:w-full sm:w-1/3 md:w-full">
                <section class="history">
                    <div>
                        <p class="topic">APA: 2020-2021</p>
                        <hr class="line">
                            This is the third annual performance agreement since it began in the fiscal
        year 2014-2015. The actual set up began with the Institution of National
        Technical Committee and recently 55 people have been trained in this field.
        <br/>
        <br/>
        National Technical Committee comprises of Gross National Happiness
        Commission (GNHC), Government Performance Management Division (GPMD),
        Ministry of Finance (MoF), National Statistical Bureau (NSB), and Royal
        Civil Service Commission (RCSC). The committee reviews plans, policies, and
        targets in the beginning of the year, and evaluates achievements at the end
        of the year. <br/><br/>
        Government Performance Management System (GPMS) is an initiative taken by
        government to address the concerns of good planning thwart by poor
        implementation. <br/><br/>
        The system works on a result-based management by holding agencies
        accountable at the outcome and output level, and providing flexibility at
        the activities input level. It also aims to strengthen decentralization by
        restricting the roles of the central agencies to policy, planning,
        monitoring, evaluating and leaving the implementation flexibility at local
        government.
                        </div>
                    <hr class="line"/>
                </section>
            </div>
            <div></div>
            <div class="lg:w-full sm:w-1/3 md:w-full">

                <div class="scroll-fixed">
                    <section>
                        <div class="sidebar">
                        <p class="font-bold underline" style="font-size: 1.1875em; color:#152238">INFORMATION AND DOWNLOADS</p>
                            <a class="hover:text-lg" href="{% url 'moicofficials' %}">For MoIC Officials</a><br/>
                            <a class="hover:text-lg" href="{% url 'download' %}">Downloads</a><br/>
                            <a class="hover:text-lg" href="{% url 'rstaservices' %}">RSTA Online Services</a><br/>
                            <a class="hover:text-lg" href="{% url 'hrdecisions' %}">HR Decisions</a>
                        </div>
                        <div>
                            <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=las%40moic.gov.bt&ctz=Asia%2FThimphu" style="border-radius: 5px" width="400" height="350" frameborder="0" scrolling="no"></iframe>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

