{% extends 'base.html' %} {% block content %} {% load static %}
<title>Background</title>
<style>
  .history {
    width: 800px;
    padding-left: 5px;
    z-index:35;
  }
  @media(max-width : 500px){
  .history{
    width:330px;
    padding-left:0px;
  }
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "history info";
  }
  @media (max-width : 500px){
  .background {
    background-color: transparent;
    padding-left: 0px;
    width: 400px;
    padding-top: 6em;
    display: grid;
    grid-template-areas: "history info";
  }
  }

  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }

  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .pd{
  padding-left:12px;
  }
  @media(max-width:500px){
  .pd{
  padding-left:3px;
  }
  }
</style>
<div class="pd">

<section class="background mt-12 ">
  <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1">
    <div class="lg:w-full sm:w-1/3 md:w-full">
  <section class="history">
    <div>
      <p class="topic">History</p>
      <p class="content">
        Recognizing the importance of information in today’s knowledge-based
        society driven by information technology and with the need to create
        proper institutional and legal framework for a sound and holistic
        development of the information and communication technology (ICT)
        sectors in the Kingdom, the Royal Government created the Ministry of
        Information and Communications in 2003 through bifurcation of the
        erstwhile Ministry of Communications with the aim to tap the potential
        of rapid change in the field of information and communications
        technology (ICT) and cater to the policy and regulatory needs of the
        information, communications and media sector in the country.
      </p>
      <hr class="line" />
      <img
        alt="background image"
        src="{% static 'images/background.jpg' %}"
        style="width: 680px"
      />
    </div>

    <hr class="line" />
    <div>
      <p class="topic">MINISTRY TIMELINE</p>
      <br />
      <!-- component -->
      <div class="container bg-gray-100 mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-4 h-full">
          <div
            class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
            style="left: 50%"
          ></div>
          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-16 h-16 rounded-full"
            >
              <h1 class="mx-auto font-semibold lg:text-lg sm:text-sm text-white text-center">
                July 1995
              </h1>
            </div>
            <div class="order-1 bg-green-400 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <h3 class="mb-3 font-bold text-gray-800 lg:text-xl sm:text-sm">
                Ministry Founded
              </h3>
            </div>
          </div>
          <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
            <div class="order-1 w-5/12"></div>
            <div class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-16 h-16 rounded-full">
              <h1 class="mx-auto text-white font-semibold lg:text-lg sm:text-sm">2003</h1>
            </div>
            <div
              class="order-1 bg-red-400 rounded-lg shadow-xl w-5/12 px-2 py-4"
            >
              <h3 class="mb-3 font-bold text-white lg:text-xl sm:text-sm text-justify">
                Ministry Renamed & Bifurcated
              </h3>
              <p
                class="lg:text:xl sm:text-sm leading-snug tracking-wide text-white text-opacity-100"
              >
                In 2003 Ministry of Communication was bifurcated to Ministry of
                Information and Communication and Ministry of Works and Human
                Settlement.
              </p>
            </div>
          </div>

          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-16 h-16 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                Aug 2007
              </h1>
            </div>
            <div
              class="order-1 bg-green-400 rounded-lg shadow-xl w-5/12 px-6 py-4"
            >
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Ministry gerer
              </h3>
              <p
                class="text-sm font-medium leading-snug tracking-wide text-black text-opacity-100"
              >
                BCAA as automous agency
              </p>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-16 h-16 rounded-full"
            >
              <h1 class="mx-auto text-white font-semibold text-lg">2019</h1>
            </div>
            <div
              class="order-1 bg-red-400 rounded-lg shadow-xl w-5/12 px-2 py-4"
            >
              <h3 class="mb-3 font-bold text-white text-xl">BCAA Delink</h3>
              <p
                class="text-sm font-medium leading-snug tracking-wide text-white text-opacity-100"
              >
                BCAA Delink from Ministry
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div>
      <p class="topic">TIMELINE OF MINISTERS (AS OF AUGUST 2021)</p>
      <br />
      <!-- component -->
      <div class="container bg-gray-100 mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-4 h-full">
          <div
            class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
            style="left: 50%"
          ></div>
          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2003 to 2008
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/lyonpo1.jpg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Lyonpo Leki Dorji
              </h3>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2008 to 2013
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/lyonpo2.jpg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Lyonpo Nandalal Rai
              </h3>
            </div>
          </div>

          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2013 to 2018
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/lyonpo3.jpg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Lyonpo D.N Dhungyel
              </h3>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2019 to till date
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/lyonpo4.png' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Lyonpo Karma Donnen Wangdi
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div>
      <p class="topic">TIMELINE OF SECRETRARIES (AS OF AUGUST 2021)</p>
      <br />
      <!-- component -->
      <div class="container bg-gray-100 mx-auto w-full h-full">
        <div class="relative wrap overflow-hidden p-4 h-full">
          <div
            class="border-2-2 absolute border-opacity-20 border-gray-700 h-full border"
            style="left: 50%"
          ></div>
          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2003 to 2008
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/dasho1.png' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Dasho Tashi Phuntsho
              </h3>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2009 to 2015
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/dasho2.jpeg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Dasho Kinley Dorji
              </h3>
            </div>
          </div>

          <!-- right timeline -->
          <div
            class="mb-8 flex justify-between items-center w-full right-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2016 to 2019
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/dasho3.jpeg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Late Dasho Karma Penjor
              </h3>
            </div>
          </div>

          <!-- left timeline -->
          <div
            class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline"
          >
            <div class="order-1 w-5/12"></div>
            <div
              class="z-20 flex items-center order-1 bg-gray-800 shadow-xl w-18 h-18 rounded-full"
            >
              <h1 class="mx-auto font-semibold text-lg text-white text-center">
                2019 to till date
              </h1>
            </div>
            <div class="order-1 rounded-lg shadow-xl w-5/12 px-6 py-4">
              <img
                alt="background image"
                src="{% static 'images/Dasho-Secretary-1.jpeg' %}"
                style="width: auto"
              />
              <br />
              <h3 class="mb-3 font-bold text-gray-800 text-xl">
                Dasho Phuntsho Tobgay
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="line" />
    <div class="navigationcontent">
      <div style="margin: 5% 20%">
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800"
          style="font-size: 22px"
        >
          <i class="fa fa-caret-right fa-2x mr-3" style="color: #ff6347"></i>
          ABOUT US
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'mission' %}">Vision & Mission</a>
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'organogram' %}">organogram</a>
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'whoiswho' %}">who is who</a>
        </h5>
      </div>
    </div>
    <hr class="line" />
  </section>
    </div>
    <div></div>
    <div class="lg:w-full sm:w-1/3 md:w-full">

    <div class="scroll-fixed">
      <section>
            <div class="sidebar">
                        <p class="font-bold underline" style="font-size: 1.1875em; color:#152238">INFORMATION AND DOWNLOADS</p>
                <a href="{% url 'moicofficials' %}" class="hover:text-lg">For MoIC Officials</a><br/>
                <a href="{% url 'download' %}" class="hover:text-lg">Downloads</a><br/>
                <a href="{% url 'rstaservices' %}" class="hover:text-lg">RSTA Online Services</a><br/>
                <a href="{% url 'hrdecisions' %}" class="hover:text-lg">HR Decisions</a>
            </div>
            <div>
                  <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=las%40moic.gov.bt&ctz=Asia%2FThimphu" style="border-radius: 5px" width="400" height="350" frameborder="0" scrolling="no"></iframe>
            </div>
        </section>
        </div>
    </div>
  </div>
</section>



</div>
{% endblock content %}
