{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .history {
    width: 680px;
    padding-left: 55px;
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "history info";
  }
  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
</style>
<section class="background mt-12 ml-6">
  <section class="history">
    <div>
      <b style="font-size: 30px">HISTORY</b>
      <p class="content">
        Recognizing the importance of information in today’s knowledge-based
        society driven by information technology and with the need to create
        proper institutional and legal framework for a sound and holistic
        development of the information and communication technology (ICT)
        sectors in the Kingdom, the Royal Government created the Ministry of
        Information and Communications in 2003 through bifurcation of the
        erstwhile Ministry of Communications with the aim to tap the potential
        of rapid change in the field of information and communications
        technology (ICT) and cater to the policy and regulatory needs of the
        information, communications and media sector in the country.
      </p>
      <img
        src="{% static 'images/background.jpg' %}"
        alt="background image"
        style="width: 680px"
      />
    </div>

    <hr />
    <div>
      <b style="font-size: 30px">MINISTRY TIMELINE</b>
    </div>
  </section>
  <section class="info">
    <p>Information</p>
  </section>
</section>
{% endblock content %}
