{% extends 'base.html' %} {% block content %}

<style>
  .sec {
    display: grid;
    grid-template-areas: "acts info";
  }
  .acts {
    padding-left: 55px;
    width: 680px;
  }
  .info {
    text-align: center;
  }
  .topic {
    font-size: 30px;
    text-transform: uppercase;
  }
  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .border {
    border-style: solid;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #707070;
    margin: 10px 0px;
  }
  .links {
    display: grid;
    grid-template-areas: "";
  }


</style>

<section class="sec mt-12 ml-6">
    <section class="acts">
        <p class="topic">Downloads</p>
        <p>
            The contents of this page are intended to be used by the MoIC officials to take their attendance ,
            update conference hall bookings and access ICT help & support.
        </p>
        <hr class="line">
        <p class="topic">
            STAFF WELFARE SCHEME FORMS
        </p><br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>SWS Form</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
        </table>
        <hr class="line">
        <p class="topic">HR & Requisition Forms</p>
        <br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>HR Related Forms(RCSC)</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Leave Forms</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
            <tr>
                <td>3.</td>
                <td>Requisitions Forms</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
        </table>
        <hr class="line">
        <p class="topic">HR & Requisition Forms</p>
        <br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>Contact Numbers of Suppliers</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Printings</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
            <tr>
                <td>3.</td>
                <td>Furniture</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Stationeries</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Electrical</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Canteen Rates</td>
                <td><a href="#">download <i class="fa fa-download"></i></a></td>
            </tr>
        </table>
        <hr class="line">
    </section>
    <section>
        <div class="scroll-fixed">
            <div class="sidebar">
                <p style="font-size: 25px">INFORMATION AND DOWNLOADS</p>
                <a href="{% url 'moicofficials' %}">For MoIC Officials</a><br/>
                <a href="{% url 'download' %}">Downloads</a><br/>
                <a href="{% url 'rstaservices' %}">RSTA Online Services</a><br/>
                <a href="{% url 'hrdecisions' %}">HR Decisions</a>
            </div>
            <div>
                <div class="calendar" data-date="auto" inline-datepicker></div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}
