{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .history {
    width: 800px;
    padding-left: 5px;
    z-index:35;
  }
  @media(max-width : 500px){
  .history{
    width:350px;
    padding-left:0px;
  }
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "history info";
  }
  @media (max-width : 500px){
  .background {
    background-color: transparent;
    padding-left: 0px;
    width: 400px;
    padding-top: 6em;
    display: grid;
    grid-template-areas: "history info";
  }
  }

  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .vision {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    border-color: #707070;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .pd{
  padding-left:12px;
  }
  @media(max-width:500px){
  .pd{
  padding-left:3px;
  }
  }
  .ws {
    width: 150px;
    border-radius: 7px;
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .fb {
    width: 150px;
    border-radius: 7px;
    background-color: #4267b2;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }
  .btn {
    display: grid;
    grid-template-areas: "ws" "fb";
  }

</style>
<div class="pd">

    <section class="background mt-12 ">
        <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1">
            <div class="lg:w-full sm:w-1/3 md:w-full">
                <section class="history">
                    <div>
                        <p class="topic">Downloads</p>
                        <p>
            The contents of this page are intended to be used by the MoIC officials to take their attendance ,
            update conference hall bookings and access ICT help & support.
        </p>
                        <hr class="line">
<p class="topic">
            STAFF WELFARE SCHEME FORMS
        </p><br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>SWS Form</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
        </table>
        <hr class="line">
        <p class="topic">HR & Requisition Forms</p>
        <br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>HR Related Forms(RCSC)</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Leave Forms</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
            <tr>
                <td>3.</td>
                <td>Requisitions Forms</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
        </table>
        <hr class="line">
        <p class="topic">HR & Requisition Forms</p>
        <br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>Forms</th>
                <th>Download Links</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>Contact Numbers of Suppliers</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Printings</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            </tbody>
            <tr>
                <td>3.</td>
                <td>Furniture</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>4.</td>
                <td>Stationeries</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>5.</td>
                <td>Electrical</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
            <tr>
                <td>6.</td>
                <td>Canteen Rates</td>
                <td><a href="#" class="hover:text-lg">download <i class="fa fa-download"></i></a></td>
            </tr>
        </table>                    </div>
                    <hr class="line">
                </section>
            </div>
            <div></div>
            <div class="lg:w-full sm:w-1/3 md:w-full">

                <div class="scroll-fixed">
                    <section>
                        <div class="sidebar">
                            <p style="font-size: 1.1875em">INFORMATION AND DOWNLOADS</p>
                            <a class="hover:text-lg" href="{% url 'moicofficials' %}">For MoIC Officials</a><br/>
                            <a class="hover:text-lg" href="{% url 'download' %}">Downloads</a><br/>
                            <a class="hover:text-lg" href="{% url 'rstaservices' %}">RSTA Online Services</a><br/>
                            <a class="hover:text-lg" href="{% url 'hrdecisions' %}">HR Decisions</a>
                        </div>
                        <div>
                            <div class="calendar lg:w-10/14" data-date="auto" inline-datepicker></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock content %}

