{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .wrapper1 {
    align-items: center;
    width: auto;
    margin-left: 50px;
  }
  .start {
    height: 100%;
    width: 100%;
    grid-gap: 2px;
    display: grid;
    grid-template-areas: "back info";
  }
  .info {
    background: white;
    box-shadow: -20px 20px 15px rgb(68, 68, 68);
  }
  .info img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  .back {
    background-color: #d4ab2a;
  }
  .back h1 {
    background-color: transparent;
    font-size: 54px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  .content {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100%;
    height: 100%;
  }
  .pro1 {
    display: grid;
    grid-template-areas: "mis se";
  }
  .mis {
    text-align: center;
    font-family: Poppins;
  }
  .se {
    text-align: center;
  }
  .subscribebtn {
    float: inline-end;
    border-radius: 7px;
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
</style>
<section class="wrapper1">
  <section class="content">
    <section class="start">
      <div class="back">
        <h1>
          Connecting the unconnected and establishing a harmonious knowledge
          society
        </h1>
      </div>
      <div class="info">
        <img src=" {% static 'images/back.jpg' %}" alt="back" />
      </div>
    </section>
    <div style="position: relative; float: right; padding-right: 10px">
      <button class="subscribebtn">SUBSCRIBE</button>
    </div>
  </section>

  <br />
  <br />
  <section class="pro1">
    <section class="mis">
      <section class="misdetail">
        <img
          src="{% static 'images/Lyonpo-1.jpeg' %}"
          alt="Lyonpo"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <br />
        <b style="font-size: 26px">MINISTER</b>
        <h4 style="font-style: italic">HON'BLE LYONPO KARMA DONNEN WANGDI</h4>
        <p>
          Hon'ble Minister joined the Ministry on 7th Nov <br />
          2018.Lyonpo Karma Donnen Wangdi served as a <br />
          Member of Parliament in the National Council <br />
          from 2008 till 2013.
        </p>
      </section>
    </section>
    <section class="se">
      <section class="sedetails">
        <img
          src="{% static 'images/Dasho-Secretary-1.jpeg' %}"
          alt="Dasho Secretary"
          class="mx-12"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <br />
        <b style="font-size: 26px; font-family: Poppins">SECRETARY</b><br />
        <i>DASHO PHUNTSHO TOBGAY</i><br />
        <p class="text-center">
          Dasho Secretary joined the Ministry on 13th Sep <br />
          2019. Dasho Phuntsho Tobgay served as <br />
          DG,DGM in MoEA before joining MoIC.<br />
        </p>
      </section>
    </section>
  </section>
</section>
{% endblock content %}
