{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .wrapper1 {
    align-items: center;
    width: auto;
    margin-left: 50px;
  }
  .start {
    height: 100%;
    width: 100%;
    grid-gap: 2px;
    display: grid;
    grid-template-areas: "back info";
  }
  .info {
    background: white;
    box-shadow: -20px 20px 15px rgb(68, 68, 68);
  }
  .info img {
    width: 600px;
    height: 400px;
    object-fit: cover;
  }
  .back {
    background-color: #d4ab2a;

  }
  .back h1 {
    background-color: transparent;
    font-size: 54px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    text-align: center;
  }
  .content {
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 100%;
    height: 100%;
  }
  .pro1 {
    display: grid;
    grid-template-areas: "mis se";
  }
  .mis {
    text-align: center;
    font-family: Poppins;
  }
  .se {
    text-align: center;
  }
  .subscribebtn {
    float: inline-end;
    border-radius: 7px;
    background-color: #ff6347;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .sec {
    display: grid;
    grid-template-areas: "events sidebar";
  }
  .events {
    padding-left: 55px;
    width: 850px;
  }
  :root {
    --smaller: 0.75;
  }

  * {
    border-style: solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .container {
    border-style: solid;
    border-color: #333;
    color: #333;
    margin: 0 auto;
    text-align: center;
  }

  h1 {
    font-weight: normal;
    letter-spacing: 0.125rem;
    text-transform: uppercase;
  }

  li {
    display: inline-block;
    font-size: 16px;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
  }

  li span {
    border-style: solid;
    border-color: #333;
    display: block;
    font-size: 40px;
    font-weight: bold;
  }
  @media all and (max-width: 768px) {
    h1 {
      font-size: calc(1.5rem * var(--smaller));
    }

    li {
      font-size: calc(1.125rem * var(--smaller));
    }

    li span {
      font-size: calc(3.375rem * var(--smaller));
    }
  }
</style>
<section class="wrapper1">
  <section class="content">
    <section class="start">
      <div class="back">
        <p
          style="
            font-size: 60px;
            color: white;
            text-align: center;
            font-weight: bold;
          "
        >
          Connecting the unconnected and establishing a harmonious knowledge
          society
        </p>
      </div>
      <div class="info">
        <img src=" {% static 'images/back.jpg' %}" alt="back" />
      </div>
    </section>
    <div style="position: relative; float: right; padding-right: 10px">
      <button class="subscribebtn">SUBSCRIBE</button>
    </div>
  </section>
  <br />
  <br />
  <hr class="line" />
  <section class="pro1">
    <section class="mis">
      <section class="misdetail">
        <img
          src="{% static 'images/Lyonpo-1.jpeg' %}"
          alt="Lyonpo"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <br />
        <b style="font-size: 26px">MINISTER</b>
        <h4 style="font-style: italic">HON'BLE LYONPO KARMA DONNEN WANGDI</h4>
        <p>
          Hon'ble Minister joined the Ministry on 7th Nov <br />
          2018.Lyonpo Karma Donnen Wangdi served as a <br />
          Member of Parliament in the National Council <br />
          from 2008 till 2013.
        </p>
      </section>
    </section>
    <section class="se">
      <section class="sedetails">
        <img
          src="{% static 'images/Dasho-Secretary-1.jpeg' %}"
          alt="Dasho Secretary"
          class="mx-12"
          style="display: block; margin-left: auto; margin-right: auto"
        />
        <br />
        <b style="font-size: 26px; font-family: Poppins">SECRETARY</b><br />
        <i>DASHO PHUNTSHO TOBGAY</i><br />
        <p class="text-center">
          Dasho Secretary joined the Ministry on 13th Sep <br />
          2019. Dasho Phuntsho Tobgay served as <br />
          DG,DGM in MoEA before joining MoIC.<br />
        </p>
      </section>
    </section>
  </section>
</section>
<hr class="line" />
<section class="sec mt-12 ml-6">
  <section class="events">
    <div class="flex flex-wrap" id="tabs-id">
      <div class="w-full">
        <ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
          <li class="mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-white bg-yellow-600" onclick="changeAtiveTab(event,'tab-profile')">
              <i class="fa fa-calendar text-base mr-1"></i>  Events
            </a>
          </li>
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-yellow-600 bg-white" onclick="changeAtiveTab(event,'tab-settings')">
              <i class="fa fa-user-plus text-base mr-1"></i>  Vacancy
            </a>
          </li>
          <li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
            <a class="text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-yellow-600 bg-white" onclick="changeAtiveTab(event,'tab-tender')">
              <i class="fa fa-envelope text-base mr-1"></i>  Tender
            </a>
          </li>
        </ul>
        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
          <div class="px-4 py-5 flex-auto">
            <div class="tab-content tab-space ">
              <div class="block " id="tab-profile">
                {% for event in events %}
                <p style="font-weight: bold">{{forloop.counter}}) <a href="{% url 'detail' event.id %}"><span>{{ event.event_title }}</span></a></p>
                <p style="color: #bababa;font-size: 12px">Published on: {{ event.pub_date }}</p>
                <br>
                  {{event.event_description | safe | truncatechars:250}} <a href="{% url 'detail' event.id %}">
                <span style="color: #0077ee;font-size: 13px">Read More >>> </span></a>
                <br>
                <br>
                {% endfor %}
              </div>
              <div class="hidden" id="tab-settings">
                {% for vacancy in vacancies %}
                <p style="font-weight: bold">{{forloop.counter}}) <a href="{% url 'vacancy_detail' vacancy.id %}"><span>{{ vacancy.vacancy_title }}</span></a></p>
                <p style="color: #bababa;font-size: 12px">Published on: {{ vacancy.pub_date }}</p>
                <br>
                {{vacancy.vacancy_description | safe | truncatechars:150}} <a href="{% url 'vacancy_detail' vacancy.id %}">
                <span style="color: #0077ee;font-size: 13px">Read More >>> </span></a>
                <br>
                <br>
                {% endfor %}
              </div>
              <div class="hidden" id="tab-tender">
                <p>
                  Efficiently unleash cross-media information without
                  cross-media value. Quickly maximize timely deliverables for
                  real-time schemas.
                  <br />
                  <br />
                  Dramatically maintain clicks-and-mortar solutions
                  without functional solutions.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function changeAtiveTab(event,tabID){
        let element = event.target;
        while(element.nodeName !== "A"){
          element = element.parentNode;
        }
        ulElement = element.parentNode.parentNode;
        aElements = ulElement.querySelectorAll("li > a");
        tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
        for(let i = 0 ; i < aElements.length; i++){
          aElements[i].classList.remove("text-white");
          aElements[i].classList.remove("bg-yellow-600");
          aElements[i].classList.add("text-yellow-600");
          aElements[i].classList.add("bg-white");
          tabContents[i].classList.add("hidden");
          tabContents[i].classList.remove("block");
        }
        element.classList.remove("text-yellow-600");
        element.classList.remove("bg-white");
        element.classList.add("text-white");
        element.classList.add("bg-yellow-600");
        document.getElementById(tabID).classList.remove("hidden");
        document.getElementById(tabID).classList.add("block");
      }
    </script>
  </section>

  <section>
    <div class="container">
      <p style="font-size: 30px; font-weight: bold">PIT DECLARATION</p>
      <div id="countdown">
        <ul>
          <li><span id="days"></span>days</li>
          <li><span id="hours"></span>Hours</li>
          <li><span id="minutes"></span>Minutes</li>
          <li><span id="seconds"></span>Seconds</li>
        </ul>
      </div>
    </div>
    <div class="scroll-fixed">
      <div class="sidebar">
        <p style="font-size: 25px">INFORMATION AND DOWNLOADS</p>
        <a href="{% url 'moicofficials' %}">For MoIC Officials</a><br />
        <a href="{% url 'download' %}">Downloads</a><br />
        <a href="{% url 'rstaservices' %}">RSTA Online Services</a><br />
        <a href="{% url 'hrdecisions' %}">HR Decisions</a>
      </div>
      <div>
        <div class="calendar" inline-datepicker data-date="auto"></div>
      </div>
    </div>
  </section>
</section>
<script>
  (function () {
    const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

    //I'm adding this section so I don't have to keep updating this pen every year :-)
    //remove this if you don't need it
    let today = new Date(),
      dd = String(today.getDate()).padStart(2, "0"),
      mm = String(today.getMonth() + 1).padStart(2, "0"),
      yyyy = today.getFullYear(),
      nextYear = yyyy + 1,
      dayMonth = "09/30/",
      birthday = dayMonth + yyyy;

    today = '04' + "/" + "30" + "/" + "2022";
    //end

    const countDown = new Date(birthday).getTime(),
      x = setInterval(function () {
        const now = new Date().getTime(),
          distance = countDown - now;

        (document.getElementById("days").innerText = Math.floor(
          distance / day
        )),
          (document.getElementById("hours").innerText = Math.floor(
            (distance % day) / hour
          )),
          (document.getElementById("minutes").innerText = Math.floor(
            (distance % hour) / minute
          )),
          (document.getElementById("seconds").innerText = Math.floor(
            (distance % minute) / second
          ));
      }, 0);
  })();
</script>

{% endblock content %}
