{% extends 'base.html' %} {% block content %} {% load static %}
<title>Ministry of Information and Communications</title>
<style>
    .pg {
        font-size: 13px;
        letter-spacing: 1px;
        word-spacing: 1px;
        color: #6B6B6B;
        font-weight: 400;
        text-decoration: none solid rgb(68, 68, 68);
        font-style: normal;
        font-variant: normal;
        text-transform: none;
    }

    .wrapper1 {
        align-items: center;
        width: auto;
        margin-left: 0px;
    }

    .start {
        height: 100%;
        width: 100%;
        grid-gap: 2px;
        display: grid;
        grid-template-areas: "back info";
    }

    @media (max-width: 500px) {
        .start {
            height: 100%;
            width: 100%;
            grid-gap: 2px;
            padding-top: 3em;
            display: grid;
            grid-template-areas: "back info";
            padding-left: -10px;
        }
    }

    .info {
        background: white;
        box-shadow: -20px 20px 15px rgb(68, 68, 68);
    }

    .info img {
        width: 600px;
        height: 400px;
        object-fit: cover;
    }

    .back {
        background-color: #d4ab2a;
        border-bottom-left-radius: 30% 10%;
        border-bottom-radius: 30% 50%;
    }

    .back h1 {
        background-color: transparent;
        font-size: 54px;
        font-weight: 600;
        color: white;
        font-family: sans-serif;
        text-align: center;
    }

    .content {
        margin-top: 50px;
        background-color: rgb(255, 255, 255);
        padding: 10px 20px;
        width: 100%;
        height: 100%;
    }

    .pro1 {
        display: grid;
        grid-template-areas: "mis se";
    }

    .mis {
        text-align: center;
        font-family: Poppins;
    }

    .se {
        text-align: center;
    }

    .sec {
        display: flex;
        grid-template-areas: "events sidebar";
    }

    .events {
        padding-left: 55px;
        width: 850px;
    }

    @media (max-width: 500px) {
        .events {
            padding-left: 0px;
            width: 350px;
        }
    }

    :root {
        --smaller: 0.75;
    }

    * {
        border-style: solid;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    .container {
        color: #333;
        margin: 0 auto;
        text-align: center;
    }

    @media (max-width: 500px) {
        .container {
            color: #333;
            margin: 0 auto;
            text-align: center;
            margin-top: -30px;
            margin-left: -20px;
        }
    }

    .pit {
        border-style: solid;
        border-radius: 1px;
        border-color: black;
    }

    .ptime {
        text-decoration: none;
    }

    @media (max-width: 500px) {
        .ptime {
            font-size: 2em;
        }
    }

    h1 {
        font-weight: normal;
        letter-spacing: 0.125rem;
        text-transform: none;
    }

    li {
        display: inline-block;
        font-size: 16px;
        list-style-type: none;
        padding: 1em;
        text-transform: none;
    }

    li span {
        border-style: solid;
        border-color: #333;
        display: block;
        font-size: 40px;
        font-weight: bold;
    }

    @media all and (max-width: 768px) {
        h1 {
            font-size: calc(1.5rem * var(--smaller));
        }

        li {
            font-size: calc(1.125rem * var(--smaller));
        }

        li span {
            font-size: calc(3.375rem * var(--smaller));
        }
    }

    .post {
        padding: none;
    }

    @media (max-width: 500px) {
        .post {
            float: right;
            padding-right: 25px;
        }
    }
</style>
<section class="wrapper1">
    <section class="content">
        <section class="start">
            <div class="grid lg:grid-cols-2 md:grid-cols-1">
                <div class="back text-base md:text-4xl lg:text-6xl text-center text-white font-bold">
                    <p>
                        Connecting the unconnected and establishing a harmonious knowledge
                        society
                    </p>
                </div>
                <div class="info">
                    <img class="lg:w-150 sm:h-50" src="{% static 'images/back.jpg' %}"/>
                </div>
            </div>
        </section>
    </section>
    <br/>
    <br/>
    <hr class="line"/>
    <section class="pro1">
        <section class="mis">
            <section class="misdetail">
                <img
                        alt="Lyonpo"
                        src="{% static 'images/Lyonpo-1.jpeg' %}"
                        style="display: block; margin-left: auto; margin-right: auto"
                />
                <br/>
                <b style="font-size: 26px">MINISTER</b>
                <h4 style="font-style: italic">HON'BLE LYONPO KARMA DONNEN WANGDI</h4>
                <p>
                    Hon'ble Minister joined the Ministry on 7th Nov <br/>
                    2018.Lyonpo Karma Donnen Wangdi served as a <br/>
                    Member of Parliament in the National Council <br/>
                    from 2008 till 2013.
                </p>
            </section>
        </section>
        <section class="se">
            <section class="sedetails">
                <img
                        alt="Dasho Secretary"
                        class="mx-12"
                        src="{% static 'images/Dasho-Secretary-1.jpeg' %}"
                        style="display: block; margin-left: auto; margin-right: auto"
                />
                <br/>
                <b style="font-size: 26px;">SECRETARY</b><br/>
                <i>DASHO PHUNTSHO TOBGAY</i><br/>
                <p class="text-center">
                    Dasho Secretary joined the Ministry on 13th Sep <br/>
                    2019. Dasho Phuntsho Tobgay served as <br/>
                    DG,DGM in MoEA before joining MoIC.<br/>
                </p>
            </section>
        </section>
    </section>
    <hr class="line">
</section>
<section class="sec mt-12 ml-6">
    <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1">
        <div class="lg:w-full sm:w-1/3 md:w-full">
            <section class="events">
                <div class="flex flex-wrap" id="tabs-id">
                    <div class="w-full">

                        <ul class="flex flex-wrap overflow-hidden">
                            <li class="h-fit pt-3 text-center hover:cursor-pointer w-1/3 overflow-hidden lg:w-1/3 xl:w-1/3">
                                <a class="post text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-white bg-yellow-600"
                                   onclick="changeActiveTab(event,'tab-profile')">
                                    <i class="fa fa-calendar text-base mr-1"></i> Events
                                </a>
                            </li>
                            <li class="h-fit pb-3 text-center hover:cursor-pointer w-1/3 overflow-hidden lg:w-1/3 xl:w-1/3">
                                <a class="post text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-yellow-600 bg-white"
                                   onclick="changeActiveTab(event,'tab-settings')">
                                    <i class="fa fa-user-plus text-base mr-1"></i> Vacancy
                                </a>
                            </li>
                            <li class="h-fit pb-3 text-center hover:cursor-pointer w-1/3 overflow-hidden lg:w-1/3 xl:w-1/3"
                                style="z-index:9">
                                <a class="post text-xs font-bold uppercase px-16 py-3 shadow-lg rounded block leading-normal text-yellow-600 bg-white"
                                   onclick="changeActiveTab(event,'tab-tender')">
                                    <i class="fa fa-envelope text-base mr-1"></i> Tender
                                </a>
                            </li>
                        </ul>


                        <div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
                             style="padding-top: -16px;">
                            <div class="px-4 py-5 flex-auto">
                                <div class="tab-content tab-space ">
                                    <div class="block " id="tab-profile">
                                        {% for event in events %}
                                        {% if event.category == 'announcement' or 'event' or 'information' or 'notifications' %}
                                        <div style="border-left: 3px solid #d4ab2a; padding-left: 20px">
                                            <p style="font-weight: bold"><span>{{ event.category }}: {{ event.event_title }}</span>
                                            </p>
                                            <p style="color: #bababa;font-size: 12px">Published on: {{ event.pub_date }}
                                                <i class="fa fa-eye"></i> {{event.total_views}} views
                                                <br>
                                                {{event.event_description | safe | truncatechars:250}}
                                            <form action="{% url 'post_detail' pk=event.id %}" method="get">
                                                <input name="event-id" type="hidden" value="{{event.id}}">
                                                    <button type="submit"><span style="color: #d4ab2a;">Read more >>></span>
                                                </button>
                                            </form>
                                            <br>
                                        </div>
                                        <br>
                                        {% endif %}
                                        {% endfor %}
                                        <br>


                                        <div class="pg">
                                            <div class="flex flex-wrap overflow-hidden">


                                                  <div class="w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            {% if events.has_previous %}
                                            <span><a href="?page=1">&laquo First</a></span>
                                            <a href="?page={{ events.previous_page_number }}">Previous</a>
                                            {% endif %}
                                                  </div>
                                                  <div class="text-center w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">
                                                      Page: {{ events.number }} of {{ events.paginator.num_pages }}
                                                  </div>

                                                                                                  <div class="text-right w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            {% if events.has_next %}
                                            <a href="?page={{ events.next_page_number }}">Next</a>
                                            <a href="?page={{ events.paginator.num_pages }}">Last
                                                &raquo</a>
                                            {% endif %}
                                                                                                  </div>
                                                </div>
                                        </div>

                                    </div>
                                    <div class="hidden" id="tab-settings">
                                        {% for vacancy in vacancies %}
                                        <div style="border-left: 3px solid #d4ab2a; padding-left: 20px">
                                            <p style="font-weight: bold"><a
                                                    href="{% url 'vacancy_detail' vacancy.id %}"><span>{{ vacancy.vacancy_title }}</span></a>
                                            </p>
                                            <p style="color: #bababa;font-size: 12px">Published on: {{ vacancy.pub_date }}</p>
                                            
                                            {{vacancy.vacancy_description | safe | truncatechars:250}}
                                            <a href="{% url 'vacancy_detail' vacancy.id %}">
                                            <span style="color: #d4ab2a;font-size: 13px">Read More >>></span></a>
                                            <br>
                                        </div>
                                        <br>
                                        {% endfor %}
                                        <br>
                                        <div class="pg">
                                            <div class="flex flex-wrap overflow-hidden">
                                                  <div class="w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">
                                            {% if vacancies.has_previous %}
                                            <a href="?page1=1">&laquo First</a>
                                            <a href="?page1={{ vacancies.previous_page_number }}">Previous</a>
                                            {% endif %}
                                                  </div>

                                                  <div class="text-center w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">
                                            Page: {{ vacancies.number }} of {{ vacancies.paginator.num_pages }}
                                                  </div>
                                                  <div class="text-right w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            {% if vacancies.has_next %}
                                            <a href="?page1={{ vacancies.next_page_number }}">Next</a>
                                            <a href="?page1={{ vacancies.paginator.num_pages }}">Last
                                                &raquo</a>
                                            {% endif %}
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="hidden" id="tab-tender">
                                        {% for tender in tenders %}
                                        <div style="border-left: 3px solid #d4ab2a; padding-left: 20px">
                                            <p style="font-weight: bold"><a
                                                    href="{% url 'tender_detail' tender.id %}">{{ tender.tender_title }}</a>
                                            </p>
                                            <p style="color: #bababa; font-size: 12px">Published on: {{ tender.pub_date }}</p>
                                            {{tender.tender_description | safe | truncatechars:250}}
                                            <a href="{% url 'tender_detail' tender.id %}">
                                            <span style="color: #d4ab2a;font-size: 13px">Read More >>> </span></a>
                                            <br>
                                        </div>
                                        <br>
                                        {% endfor %}
                                        <br>
                                        <div class="pg">
                                            <div class="flex flex-wrap overflow-hidden">
          <div class="w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            {% if tenders.has_previous %}
                                            <a href="?page2=1">&laquo First</a>
                                            <a href="?page2={{ tenders.previous_page_number }}">Previous</a>
                                            {% endif %}
          </div>
  <div class="text-center w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            <span class="text-center">Page: {{ tenders.number }} of {{ tenders.paginator.num_pages }}</span>
  </div>
                                                  <div class="text-right w-1/3 overflow-hidden sm:w-1/3 md:w-1/3 lg:w-1/3 xl:w-1/3">

                                            {% if tenders.has_next %}
                                            <a href="?page2={{ tenders.next_page_number }}">Next</a>
                                            <a href="?page2={{ tenders.paginator.num_pages }}">Last
                                                &raquo</a>
                                            {% endif %}
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script type="text/javascript">
                    function changeActiveTab(event, tabID) {
                        let element = event.target;
                        while (element.nodeName !== "A") {
                            element = element.parentNode;
                        }
                        ulElement = element.parentNode.parentNode;
                        aElements = ulElement.querySelectorAll("li > a");
                        tabContents = document.getElementById("tabs-id").querySelectorAll(".tab-content > div");
                        for (let i = 0; i < aElements.length; i++) {
                            aElements[i].classList.remove("text-white");
                            aElements[i].classList.remove("bg-yellow-600");
                            aElements[i].classList.add("text-yellow-600");
                            aElements[i].classList.add("bg-white");
                            tabContents[i].classList.add("hidden");
                            tabContents[i].classList.remove("block");
                        }
                        element.classList.remove("text-yellow-600");
                        element.classList.remove("bg-white");
                        element.classList.add("text-white");
                        element.classList.add("bg-yellow-600");
                        document.getElementById(tabID).classList.remove("hidden");
                        document.getElementById(tabID).classList.add("block");
                    }


                </script>
            </section>
        </div>
        <div></div>
        <div class="lg:w-full sm:w-1/3 md:w-full">
            <section>
                <div class="container">
                    <a href="https://www.acc.org.bt/?q=node/1658" target="_blank"><p
                            style="font-size: 30px; font-weight: bold">ASSET DECLARATION</p></a>
                    <div id="countdown">
                        <ul>
                            <li><span class="ptime" id="days"></span>days</li>
                            <li><span class="ptime" id="hours"></span>Hours</li>
                            <li><span class="ptime" id="minutes"></span>Minutes</li>
                            <li><span class="ptime" id="seconds"></span>Seconds</li>
                        </ul>
                    </div>
                </div>
                <hr class="line">
                <div class="scroll-fixed">
                    <div class="sidebar">
                        <p class="font-bold underline" style="font-size: 1.1875em; color:#152238">INFORMATION AND DOWNLOADS</p>
                        <a class="hover:text-lg" href="{% url 'moicofficials' %}">For MoIC Officials</a><br/>
                        <a class="hover:text-lg" href="{% url 'download' %}">Downloads</a><br/>
                        <a class="hover:text-lg" href="{% url 'rstaservices' %}">RSTA Online Services</a><br/>
                        <a class="hover:text-lg" href="{% url 'hrdecisions' %}">HR Decisions</a>
                    </div>
                    <div>
<iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=las%40moic.gov.bt&ctz=Asia%2FThimphu" style="border-radius: 5px" width="400" height="350" frameborder="0" scrolling="no"></iframe>                    </div>
                </div>
            </section>
        </div>
    </div>
</section>
<script>


    (function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        //I'm adding this section so I don't have to keep updating this pen every year :-)
        //remove this if you don't need it
        let today = new Date(),
            dd = String(today.getDate()).padStart(2, "0"),
            mm = String(today.getMonth() + 1).padStart(2, "0"),
            yyyy = today.getFullYear(),
            nextYear = yyyy + 1,
            // COUNT DOWN DAYS ADD HERE MONTH/DATE
            dayMonth = "06/30/",
            birthday = dayMonth + yyyy;
        // ADD TODAY'S DATE MONTH/DATE/YEAR
        today = '05' + "/" + "16" + "/" + "2022";

        //end
        const countDown = new Date(birthday).getTime(),
            x = setInterval(function () {
                const now = new Date().getTime(),
                    distance = countDown - now;
                (document.getElementById("days").innerText = Math.floor(
                    distance / day
                )),
                    (document.getElementById("hours").innerText = Math.floor(
                        (distance % day) / hour
                    )),
                    (document.getElementById("minutes").innerText = Math.floor(
                        (distance % hour) / minute
                    )),
                    (document.getElementById("seconds").innerText = Math.floor(
                        (distance % minute) / second
                    ));
            }, 0);
    })();
</script>

{% endblock content %}
