{% extends 'base.html' %} {% block content %}

<style>
  .sec {
    display: grid;
    grid-template-areas: "acts info";
  }
  .acts {
    padding-left: 55px;
    width: 680px;
  }
  .info {
    text-align: center;
  }
  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .border {
    border-style: solid;
    padding: 10px;
    border-width: 1px;
    border-radius: 10px;
    border-color: #707070;
    margin: 10px 0px;
  }
  .links {
    display: grid;
    grid-template-areas: "";
  }
  .demo {
    width: 90%;
    border: 1px solid #c0c0c0;
    border-collapse: collapse;
    padding: 5px;
  }
  .demo th {
    border: 1px solid #c0c0c0;
    padding: 5px;
    background: #f0f0f0;
  }
  .demo td {
    border: 1px solid #c0c0c0;
    padding: 5px;
  }

</style>

<section class="sec mt-12 ml-6">
    <section class="acts">
        <p class="topic">MHRC Decisions</p>
        <hr class="line">
        <p>The Ministry Human Resource Committee (MHRC) meetings are held every Monday from 2:15 PM onwards.
            The MHRC committee are the Department heads from the four departments under MoIC and HR members.</p><br>
        <p>The MHRC decisions can be viewed from the calendar where the MHRC events are marked in color.</p>
        <hr class="line">
        <p class="topic">hr decisions</p>
        <br>
        <table class="tb">
            <thead>
            <tr>
                <th>SL. No</th>
                <th>HR Decisions</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1.</td>
                <td>510 HRC held on 19th July</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>509 HRC held on 19th July</td>
            </tr>
            </tbody>
            <tr>
                <td>3.</td>
                <td>508 HRC held on 19th July</td>
            </tr>
        </table>
        <hr class="line">
    </section>
    <section>
        <div class="scroll-fixed">
            <div class="sidebar">
                <p style="font-size: 1.1875em">INFORMATION AND DOWNLOADS</p>
                <a href="{% url 'moicofficials' %}" class="hover:text-lg">For MoIC Officials</a><br/>
                <a href="{% url 'download' %}" class="hover:text-lg">Downloads</a><br/>
                <a href="{% url 'rstaservices' %}" class="hover:text-lg">RSTA Online Services</a><br/>
                <a href="{% url 'hrdecisions' %}" class="hover:text-lg">HR Decisions</a>
            </div>
            <div>
                <div class="calendar lg:w-10/14" data-date="auto" inline-datepicker></div>
            </div>
        </div>
    </section>
</section>
{% endblock content %}
