{% extends 'base.html' %} {% block content %} {% load static %}
<title>Organogram</title>
<style>
  .history {
    width: 800px;
    padding-left: 5px;
    z-index:35;
  }
  @media(max-width : 500px){
  .history{
    width:350px;
    padding-left:0px;
  }
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "history info";
  }
  @media (max-width : 500px){
  .background {
    background-color: transparent;
    padding-left: 0px;
    width: 400px;
    padding-top: 6em;
    display: grid;
    grid-template-areas: "history info";
  }
  }

  .content {
    font-size: 16px;
    font-family: sans-serif;
    line-height: 26.4px;
    letter-spacing: normal;
    text-align: justify;
  }
  .vision {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    border-color: #707070;
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .pd{
  padding-left:12px;
  }
  @media(max-width:500px){
  .pd{
  padding-left:3px;
  }
  }
</style>
<div class="pd">

<section class="background mt-12 ">
  <div class="grid sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-1">
    <div class="lg:w-full sm:w-1/3 md:w-full">
  <section class="history">
    <div>
      <p class="topic">organogram</p>
          <p>The total HR for the Ministry as of July 2021 is………..</p>
      <hr class="line" />
      <div class="vision">
      <p class="sub_topic1">Ministry's Human Resource Strength</p>
      <section>
        <div class="flex flex-wrap overflow-hidden">
          <div class="w-1/2 overflow-hidden">
            <section>
              <div class="rt-container">
                <div class="col-rt-12">
                  <div class="Scriptcontent">
                    <!-- partial:index.partial.html -->
                    <div class="numbers">
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--1"
                          data-fake="8642519073"
                          style="font-weight: bold"
                          >5</span
                        >
                      </span>
                      <br />
                      <span class="text-2">Executives</span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="w-1/2 overflow-hidden">
            <section>
              <div class="rt-container">
                <div class="col-rt-12">
                  <div class="Scriptcontent">
                    <!-- partial:index.partial.html -->
                    <div class="numbers">
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--1"
                          data-fake="8642519073"
                          style="font-weight: bold"
                          >1</span
                        >
                      </span>
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--3"
                          data-fake="8395216407"
                          style="font-weight: bold"
                          >3</span
                        >
                      </span>
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--1"
                          data-fake="8642519073"
                          style="font-weight: bold"
                          >7</span
                        >
                      </span>
                      <br />
                      <span class="text-2">Professional & Management</span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="w-1/2 overflow-hidden">
            <section>
              <div class="rt-container">
                <div class="col-rt-12">
                  <div class="Scriptcontent">
                    <!-- partial:index.partial.html -->
                    <div class="numbers">
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--1"
                          data-fake="8642519073"
                          style="font-weight: bold"
                          >3</span
                        >
                      </span>
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--3"
                          data-fake="8395216407"
                          style="font-weight: bold"
                          >3</span
                        >
                      </span>
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--3"
                          data-fake="8395216407"
                          style="font-weight: bold"
                          >7</span
                        >
                      </span>
                      <br />
                      <span class="text-2">Supervisory & Support</span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>

          <div class="w-1/2 overflow-hidden">
            <section>
              <div class="rt-container">
                <div class="col-rt-12">
                  <div class="Scriptcontent">
                    <!-- partial:index.partial.html -->
                    <div class="numbers">
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--1"
                          data-fake="8642519073"
                          style="font-weight: bold"
                          >5</span
                        >
                      </span>
                      <span class="numbers__window">
                        <span
                          class="numbers__window__digit numbers__window__digit--3"
                          data-fake="8395216407"
                          style="font-weight: bold"
                          >3</span
                        >
                      </span>
                      <br />
                      <span class="text-2">Operational</span>
                    </div>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
    </div>
      <hr class="line">
      <div class="vision">
      <img alt="" src="{% static 'images/organogram.jpg' %}" />
    </div>
      <hr class="line">
    </div>
<div class="navigationcontent">
      <div style="margin: 5% 20%">
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800"
          style="font-size: 22px"
        >
          <i class="fa fa-caret-right fa-2x mr-3" style="color: #ff6347"></i>
          ABOUT US
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'background' %}">Background</a>
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'mission' %}">vision and mission</a>
        </h5>
        <h5
          class="uppercase font-bold mb-2.5 text-gray-800 hover:text-lg hover:text-gray-600"
        >
          <i class="fa fa-angle-right fa-2x mr-3" style="color: #ff6347"></i>
          <a href="{% url 'whoiswho' %}">who is who</a>
        </h5>
      </div>
    </div>     <hr class="line" />
  </section>
    </div>
    <div></div>
    <div class="lg:w-full sm:w-1/3 md:w-full">

    <div class="scroll-fixed">
      <section>
            <div class="sidebar">
                <p style="font-size: 1.1875em">INFORMATION AND DOWNLOADS</p>
                <a href="{% url 'moicofficials' %}" class="hover:text-lg">For MoIC Officials</a><br/>
                <a href="{% url 'download' %}" class="hover:text-lg">Downloads</a><br/>
                <a href="{% url 'rstaservices' %}" class="hover:text-lg">RSTA Online Services</a><br/>
                <a href="{% url 'hrdecisions' %}" class="hover:text-lg">HR Decisions</a>
            </div>
            <div>
                <div class="calendar lg:w-10/14" data-date="auto" inline-datepicker></div>
            </div>
        </section>
        </div>
    </div>
  </div>
</section>



</div>
{% endblock content %}
