{% extends 'base.html' %} {% block content %} {% load static %}
<style>
  .who {
    width: 680px;
    padding-left: 55px;
  }
  .background {
    background-color: transparent;
    display: grid;
    grid-template-areas: "who info";
  }
  .line {
    border: 1px solid #d4ab2a;
    margin: 20px 0px;
  }
  .minister {
    text-align: center;
  }
</style>
<section class="background mt-12 ml-6">
  <section class="who">
    <div class="minister">
      {% for minister in ministeroffice %}
      <img src="{{ minister.profile_img.url }}" alt="{{ minister.name }}" />
      <p>{{ minister.title }} {{ minister.name}}</p>
      <p>{{ minister.mail_id }}</p>
      <p>{{ minister.phone_no }}</p>
      {% endfor %}
    </div>
    <div class="grid lg:grid-cols-2 md:grid-cols-4">
      {% for secretary in secretaryoffice %}
      <img src="{{ secretary.profile_img.url }}" alt="{{ secretary.name }}" />
      <p>{{ secretary.title }} {{ secretary.name }}</p>
      <p>{{ secretary.mail_id }}</p>
      <p>{{ secretary.phone_no }}</p>
      {% endfor %}
    </div>
  </section>
  <section>
    <div class="scroll-fixed">
      <div class="sidebar">
        <p style="font-size: 25px">INFORMATION AND DOWNLOADS</p>
        <a href="#">For MoIC Officials</a><br />
        <a href="#">Downloads</a><br />
        <a href="#">RSTA Online Services</a><br />
        <a href="#">HR Decisions</a>
      </div>
      <div>
        <div class="calendar" inline-datepicker data-date="auto"></div>
      </div>
    </div>
  </section>
</section>
{% endblock content %}
